{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <p class="lead"> About Us Page</p>
</div>

<div class="container">
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Danish Ali">
    <div class="card-body">
      <h5 class="card-title">Danish Ali</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary btn-block">Profile</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Thohiru">
    <div class="card-body">
      <h5 class="card-title">Thohiru Omoloye</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary btn-block">Profile</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Charles">
    <div class="card-body">
      <h5 class="card-title">Charles Banda</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary btn-block">Profile</a>
    </div>
  </div>
</div>
</div>


{% endblock %}
