{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center" style="background:cyan">
    <p class="lead"> About Us Page</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Danish Ali">
          <div class="card-body">
            <h5 class="card-title">Danish Ali</h5>
            <p class="card-text">@danish.</p>
            <p class="card-text"><small class="text-muted">danish.ali@student.griffith.ie</small></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-block">Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-1">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Danish Ali">
          <div class="card-body">
            <h5 class="card-title">Thohiru Omoloye</h5>
            <p class="card-text">@cleansoft.</p>
            <p class="card-text"><small class="text-muted">thohiru.omoloye@student.griffith.ie</small></p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/tohiromoloye/" class="btn btn-primary btn-block">Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-1">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Danish Ali">
          <div class="card-body">
            <h5 class="card-title">Charles Banda</h5>
            <p class="card-text">@Charles</p>
            <p class="card-text"><small class="text-muted">charles.banda@student.griffith.ie</small></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-block">Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
