{% extends 'layout.html' %}

{% block body %}
    <style>
    .form-horizontal{
        padding-bottom: 2rem;
    }
    legend {

        padding-top:2rem;
    }

    </style>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <fieldset>
        <legend>Settings</legend>
        <form class="form-horizontal" method="post" action='/processSettings'>

          <div class="form-group">
            <label for="temperature">Max Temperature</label>
            <input type="number" class="form-control" id="temperature" name="temperature" aria-describedby="tmpHelp" placeholder="Max Temperature" value="{{temp}}">
            <small id="tmpHelp" class="form-text text-muted">Set the max temperature at which the fan would be switched on.</small>
          </div>

          <div class="form-group">
            <label for="humidity">Humidity</label>
            <input type="number" class="form-control" id="humidity" name="humidity" aria-describedby="hmdHelp" placeholder="Humidity" value="{{humid}}">
            <small id="hmdHelp" class="form-text text-muted">Set the min humidity at which the heating system would be switched on.</small>
          </div>

          <div class="form-group">
            <label for="humidity">Phone Number</label>
            <input type="number" class="form-control" id="emergency_phone" name="emergency_phone" aria-describedby="hmdHelp" placeholder="Emergency Phone" value="{{phone}}">
            <small id="hmdHelp" class="form-text text-muted">Number to reach in an emergency situation.</small>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </fieldset>
    </div>

    <div class="col-sm">
      <fieldset>
        <legend>Current Settings</legend>
        <h5>Temperature: {{temp}}</h5>
        <h5>Humidity: {{humid}}</h5>
        <h5 style="color:red;">Emergency Contact: {{phone}}</h5>

      </fieldset>
    </div>

  </div>
</div>

{% endblock %}
